
.login-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page{
    display: flex;
   align-items: center;
    flex-direction: column;
    margin-top: 240px;
    width: 230px;
    height: 250px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 1px ;
}
.auth-section{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    
}
.auth-container{
    border: 1px solid black;
    width: 28%;
    padding-left: 20px;
    padding: auto;
    border-radius: 7px;
    box-shadow: 2px 5px 9px 1px;
}
