/*
CSS RESETS
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  background: radial-gradient(54.85% 93.59% at 50% 50%,
      #1e6891 0%,
      #104a6d 33%,
      #083859 42%,
      #002845 54.5%,
      #0a1320 76%);
}

/* CUSTOM CSS */
body {
  overflow-x: hidden;
}

body main {
  background-image: url("./images/contact-admission-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  mix-blend-mode: lighten;
}

.elipse-1 {
  position: absolute;
  width: 339px;
  height: 339px;
  left: 0px;
  top: -73px;
  z-index: -1;
  background: #ff7925;
  filter: blur(225px);
}

.elipse-2 {
  position: absolute;
  width: 444px;
  height: 444px;
  left: 1097px;
  top: 406px;
  background: #ff7925;
  filter: blur(250px);
}

main {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.contsct-admissions-header {
  background-image: url("./images/coming-soon-elipse.svg");
  background-size: 1440px 83px;
  height: 83px;
  position: absolute;
  width: 100%;
  background-color: white;
  top: 0;
  clip-path: ellipse(50% 83px at 50% 0%);
}

.logo {
  margin: 0 auto;
  width: 208px;
  height: 83px;
  background-image: url("./images/coming-soon-logo.png");
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: 0 center;
  padding: 28px 0 0 48px;
  font-size: 21px;
  font-weight: 500;
  line-height: 25.2px;
}

.logo a {
  font-family: "Exo", sans-serif;
  color: black;
  text-decoration: none;
}

.go-back {
  background-image: url("./images/coming-soon-back.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  grid-column: 1/4;
  font-size: 16px;
  line-height: 14px;
  color: white;
  margin: 10px 0 0 7.29vw;
  padding-left: 24px;
  text-decoration: none;
  position: relative;
  top: 5rem;
}

.hero {
  z-index: 2;
  grid-column: 2/3;
}

.hero h1 {
  /* margin: 10.93rem 0 11.5px 0; */
  margin: 90px auto 10px;
  padding: 0;
  color: white;
  font-family: Raleway;
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  text-align: center;

}

.hero p {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: center;

}

.hero .hr-line {
  width: 312px;
  margin: 15px auto;
  border: 1px solid #5E94B8
}

.hero .contact-admission {
  margin: auto;
  background-color: #ffffffac;
  width: 410px;
  height: 302px;
  border-radius: 14.61px;
  opacity: 0.8px;
}

.hero .contact-admission form {
  padding: 20px 25px;
}

.contact-admission form label {
  color: #000000;
  text-align: left;
  margin-top: 10px;
  padding-left: 5px;
  font-family: Raleway;
  font-size: 11.69px;
  font-weight: 300;
  line-height: 14.03px;
}

.contact-admission form input {
  width: 361.69px;
  height: 32.15px;
  padding: 10px;
  margin: 6px auto;
  border: 0px;
  border-radius: 21.92px;
  opacity: 0px;
}

.contact-admission form input::placeholder {
  width: 102px;
  height: 14px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 11.69px;
  font-weight: 300;
  line-height: 14.03px;
  text-align: left;
  color: #000000;
}

.contact-admission form input:focus {
  outline: 0px;
}

.contact-admission form textarea {
  width: 360.96px;
  height: 100.84px;
  padding: 10px;
  margin: 6px auto;
  gap: 0px;
  border-radius: 21.92px;
  opacity: 0px;
  resize: none;
  border: 0px;
}

.contact-admission form textarea::placeholder {
  width: 157px;
  height: 14px;
  top: 8.77px;
  left: 12.96px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 11.69px;
  font-weight: 300;
  line-height: 14.03px;
  text-align: left;
  color: #000000;
}

.contact-admission form textarea:focus {
  outline: 0px;
}

.contact-admission form input[type=checkbox] {
  width: 11.69px;
  height: 11.69px;
  gap: 0px;
  background-color: #D9D9D9;
  border: 0.73px solid #FFFFFF;
  border-radius: 2.92px;
  border: 0.73px 0px 0px 0px;
  opacity: 0px;
}

.contact-admission form label a {
  color: #009AFF;
}

.contact-admission form button {
  width: 360.9px;
  height: 25px;
  margin: 10px auto;
  gap: 7.31px;
  border-radius: 21.92px;
  box-shadow: 0px 1.46px 4.46px 0px #00000040;
  border: 0px;
  font-family: Raleway;
  font-size: 11.69px;
  font-weight: 300;
  line-height: 14.03px;
  text-align: center;
}

.social {
  display: flex;
  gap: 12px;
  margin-top: 100px;
  justify-content: center;
}

.social a {
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.footer {
  background: #0e1826;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.elipse-3 {
  position: absolute;
  width: 116px;
  height: 116px;
  top: 49px;
  left: 293px;
  gap: 0px;
  opacity: 0px;
  background: #FF7925;
  filter: blur(70px)
}

.elipse-4 {
  position: absolute;
  width: 216px;
  height: 216px;
  top: -150px;
  left: 300px;
  gap: 0px;
  opacity: 0px;
  rotate: -180deg;
  background: #03D2FF80;
  filter: blur(100px);
}

.elipse-5 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 1068px;
  top: 232px;
  background: #ff7925;
  filter: blur(90px);
}

.elipse-6 {
  position: absolute;
  width: 440px;
  height: 440px;
  top: 100px;
  left: 1200px;
  gap: 0px;
  opacity: 0px;
  rotate: -180deg;
  background: #03D2FF80;
  filter: blur(220px);
}


.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 2.68vw 6.66vw;
  color: #000000;
  box-shadow: -6px 6px 22px 0px #0000006b;
  background: #0e182699;
  color: #fff;
}

.footer::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 0;
  background: linear-gradient(90deg,
      rgba(0, 203, 255, 0.5) 0%,
      rgba(255, 98, 0, 0.5) 100%);
  z-index: -1;
}

.footer__container:first-child {
  max-width: 273px;
}

.footer__container:last-child {
  width: 27.7vw;
  min-width: 27.7vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title-main {
  font-family: "Exo", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.footer__title-main-newslatter {
  font-family: "Raleway", sans-serif;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 0.87rem;
  font-weight: 200;
  line-height: 1rem;
  margin-top: 0.62vh;
}

.footer__bottom {
  position: relative;
  text-align: center;
  background-color: #1c1c1c;
  padding: 0.62vh 0;
  background: linear-gradient(90deg, #00cbff 0%, #ff6200 100%);
}

.footer__bottom::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(90deg, #00cbff 0%, #ff6200 100%);
  z-index: -1;
  border-radius: 50px;
}

.footer__bottom-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1rem;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1.66vh;
  flex-direction: column;
}

.footer__list-reversed {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__social-network-image {
  width: 35px;
  height: 35px;
}

.footer__social-network-image-youtube {
  width: 45px;
  height: 45px;
}

.footer__link {
  text-decoration: none;
}

.footer__container-title {
  font-family: "Exo", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.36rem;
}

.footer__container-contact {
  font-family: "Raleway", sans-serif;
  margin-top: 2.77vh;
  margin-bottom: 1.59vh;
}

.footer__container-contact p {
  font-family: "Raleway", sans-serif;
}

.footer__container-text {
  margin-top: 0.62rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.21rem;
}

.footer__container-text-span {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.9rem;
}

.footer__title {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.36rem;
}

.footer__title-center {
  margin-top: 2.22vh;
  /* //styleName: Exo/Base text Regular; */
  font-family: Exo;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;

}

.footer__item-list {
  margin-top: 0.75rem;
  /* //styleName: Raleway/Caption 1 Light; */
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;

}

.footer__link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.21rem;
  text-align: left;
}

.footer__form-group {
  position: relative;
  margin-top: 3.12vh;
}

.footer__input {
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.21rem;
  padding: 0.62vh 10vw 0.62vh 1.73vw;
  width: 100%;
  max-width: 399px;
  height: 41px;
  background-color: transparent;
  color: #ffffff;
}

.footer__button {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.21rem;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50px;
  padding: 1.12vh 1.12vw;
  position: absolute;
  right: 0;
  top: 0;
  height: 41px;
  margin-right: 0;
  z-index: 1;
}

.footer__button::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1.12rem;
  font-style: italic;
  font-weight: 200;
  padding: 0.62vh 3vw;
  line-height: 1.36rem;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__text-newslatter {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 0.62vh;
}