* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 6.66vw;
  overflow: hidden;
}

.header {
  background: rgba(10, 19, 32, 1);
}

.navigation {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding: 17px 0 17px;
  height: auto;
}

.navigation__logo-container {
  display: flex;
  align-items: center;
}

.navigation__logo-text {
  text-decoration: none;
  color: #ffffff;
}

.navigation__logo-image {
  width: 60px;
  height: 60px;
}

.navigation__logo-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #ffffff;
  font-family: "Exo", sans-serif;
}

.navigation__nav-container {
  position: relative;
  border-radius: 50px;
}

.navigation__nav-container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(90deg, #00cbff 0%, #ff6200 100%);
  border-radius: 50px;
  z-index: 0;
}

.navigation__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 56px;
  background: rgba(10, 19, 32, 1);
  z-index: 1;
}

.navigation__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 8px 10px;
}

.navigation__nav-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #ffffff;
  padding: 10px 16px;
  position: relative;
}

.navigation__nav-link:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50px;
  background-color: #0e1826;
  z-index: -1;
}

.navigation__btn-container {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.29vw;
}

.navigation__link {
  font-family: "Raleway", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.36rem;
  color: #ffffff;
  text-decoration: none;
}

.navigation__button {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  line-height: 1.36rem;
  text-align: left;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: 500;
  box-shadow: -6px 6px 22px 0px #0000006b;
}

.navigation__button-login {
  box-shadow: none;
}

.navigation__button-trial {
  border: 1.5px solid #ffffff;
  border-radius: 50px;
  padding: 14px 32px;
}

.navigation__button-trial:hover {
  background: linear-gradient(277.59deg, #ff6200 7.17%, #00baff 92.47%);
}

.navigation__button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  /* Add space between contact-left and contact-form */
}

.contact-left,
.contact-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-left {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-left h1 {
  color: #007bff;
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 20px;
  justify-content: left;
  text-align: left;
  line-height: 1.5rem;
  align-items: left;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.info-item img {
  width: 30px;
}

.contact-form {
  background-color: #f8f9fa;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form label {
  display: block;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form .phone-input {
  display: flex;
  gap: 10px;
}

.contact-form button {
  background: linear-gradient(277.59deg, #ff6200 7.17%, #00baff 92.47%);
  border-radius: 50px;
  color: white;
  padding: 14px 32px;
  font-weight: 700;
  text-decoration: none;
  border: none;
}

.contact-form button:hover {
  cursor: pointer;
}

.contact-form button:hover {
  background-color: linear-gradient(277.59deg, #ff6200 7.17%, #00baff 92.47%);
}

.contact-form,
.contact-left {
  height: 100%;
}

.container {
  align-items: stretch;
}

.footer {
  background: rgba(14, 24, 38, 0.6);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  overflow: hidden;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  padding-top: 2.68rem;
  padding-bottom: 2.98vh;
  color: #000000;
  box-shadow: -6px 6px 22px 0px #0000006b;
  background: rgba(10, 19, 32, 1);
  color: #fff;
}

.footer::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 203, 255, 0.5) 0%,
    rgba(255, 98, 0, 0.5) 100%
  );
  z-index: -1;
}

.footer__container:first-child {
  max-width: 273px;
}

.footer__container:last-child {
  width: 27.7vw;
  min-width: 27.7vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title-main {
  font-family: "Exo", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.footer__title-main-newslatter {
  font-family: "Raleway", sans-serif;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 0.87rem;
  font-weight: 200;
  line-height: 1rem;
  margin-top: 0.62vh;
}

.footer__bottom {
  position: relative;
  text-align: center;
  background-color: #1c1c1c;
  padding: 0.62vh 0;
  background: linear-gradient(90deg, #00cbff 0%, #ff6200 100%);
}

.footer__bottom::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(90deg, #00cbff 0%, #ff6200 100%);
  z-index: -1;
  border-radius: 50px;
}

.footer__bottom-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1rem;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1.66vh;
  flex-direction: column;
}

.footer__list-reversed {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__social-network-image {
  width: 35px;
  height: 35px;
}

.footer__social-network-image-youtube {
  width: 45px;
  height: 45px;
}

.footer__link {
  text-decoration: none;
}

.footer__container-title {
  font-family: "Exo", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.36rem;
}

.footer__container-contact {
  font-family: "Inter", sans-serif;
  margin-top: 2.77vh;
  margin-bottom: 1.59vh;
}

.footer__container-contact p {
  font-family: "Raleway", sans-serif;
}

.footer__container-text {
  margin-top: 0.62rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.21rem;
}

.footer__container-text-span {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.9rem;
}

.footer__title {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.36rem;
  font-family: "Exo", sans-serif;
}

.footer__title-center {
  margin-top: 2.22vh;
}

.footer__item-list {
  margin-top: 0.75rem;
}

.footer__link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.21rem;
  text-align: left;
}

.footer__form-group {
  position: relative;
  margin-top: 3.12vh;
}

.footer__input {
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.21rem;
  padding: 0.62vh 10vw 0.62vh 1.73vw;
  width: 100%;
  max-width: 399px;
  height: 41px;
  background-color: transparent;
  color: #ffffff;
}

.footer__button {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.21rem;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50px;
  padding: 1.12vh 1.12vw;
  position: absolute;
  right: 0;
  top: 0;
  height: 41px;
  margin-right: 0;
  z-index: 1;
}

.footer__button::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1.12rem;
  font-style: italic;
  font-weight: 200;
  padding: 0.62vh 3vw;
  line-height: 1.36rem;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__text-newslatter {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 0.62vh;
}
