<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./Logo/DNA Logo symbol.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./cooursedetailspage-CertDS-style.css" />
    <script defer src="./script-coursepage.js"></script>
    <title>Digital Nexus AI</title>
  </head>

  <body>
    <header class="course-details-header">
        <button class="navigation__hamburger" aria-label="Toggle menu" aria-expanded="false">
         <span></span>
         <span></span>
         <span></span>
       </button>
      <div class="man-nav-container">
        <a href="./index.html" class="coursepage-logo-link">
          <div class="logo"><span>DigitalNexusAI</span></div>
        </a>
        <nav class="main-nav">
          <ul>
            <li>
              <a href="./coursepage.html" class="explore">Explore</a>
            </li>
            <!-- <li><a href="#">Scolarship</a></li> -->
            <li><a href="./contact-admissions.html">Teach on DNA</a></li>
            <li><a href="./index.html#meet-dna">About Us</a></li>
            <li><a href="./quoteprice.html">Quote Price</a></li>
          </ul>
          <ul>
            <li><a href="./login.html">Login</a></li>
            <li><a href="./register.html" class="register-btn">Register</a></li>
          </ul>
        </nav>
      </div>
      <div class="course-nav">
        <a href="./index.html">Home</a
        ><img src="./images/right-arrow.png" alt="arrow" /><a
          href="./coursepage.html"
          >Explore</a
        ><img src="./images/right-arrow.png" alt="arrow" /><a
          href="./cooursedetailspage-Python.html"
          >Angular 18</a
        >
      </div>
      <div class="course-details">
        <div class="angular-course-image-bg course-details-header-img"></div>
        <div class="course-description">
          <div class="course-details-certificate">
            <a target="_blank" href="documents/certificate.pdf">
              <p class="course-details-certificate-text">
                Completion Certificate
              </p>
            </a>
          </div>
          <div class="ratings">
            <div class="stars">
              <img src="./images/star-black.svg" slt="Star" />
              <img src="./images/star-black.svg" slt="Star" />
              <img src="./images/star-black.svg" slt="Star" />
              <img src="./images/star-black.svg" slt="Star" />
              <img src="./images/star-black.svg" slt="Star" />
            </div>
            <p class="rating-text">4.8 (128)</p>
          </div>
          <h1>Become Angular 18 Expert</h1>
          <p class="course-description-text">
            Unlock the full potential of Angular 18 to build cutting-edge web
            applications with ease
          </p>
          <ul class="course-description-icons">
            <li class="course-icon-book">6 Weeks</li>
            <!-- <li class="course-icon-clock">6-month Duration</li> -->
            <li class="course-icon-graph">Zero to Hero</li>
          </ul>
          <div class="course-description-footer">
            <p>₹ 1,95,000</p>
            <!-- <a href="#" class="course-description-btn">Buy Now</a> -->

            <!-- <form>
              <script
                src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_OFU28nPR1ccarb"
                async
              ></script>
            </form> -->

            <div class="course-description-btns">
              <form>
                <script
                  src="https://checkout.razorpay.com/v1/payment-button.js"
                  data-payment_button_id="pl_Ov839hTv8n7tTf"
                  async
                ></script>
                 
              </form>
              <!-- <a href="#" class="buy">Buy Course</a> -->
              <!-- <button class="quote">Quote price</button> -->
              <div id="quoteModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close"></span>
                  <h2>Quote your price</h2>
                  <label for="offer">Your offer</label>
                <div class="input-wrapper">
                  <input type="number" id="offer" placeholder="₹0">
                </div>
                  <!-- Suggested offers -->
                   <div class="modal-content-buttons">
                    <button class="modal-form-button">₹ 19,199</button>
                    <button class="modal-form-button">₹ 19,199</button>
                    <button class="modal-form-button">₹ 19,199</button>
                  </div>
                  <!-- Textarea for additional notes -->
                  <textarea rows="4" placeholder="Message (optional)" ></textarea>

                  <!-- Submit button -->
                  <button class="modal-form-submit">Continue</button>

                  <!-- Link for how quote works -->
                  <a href="./quoteprice.html" class="link">How quote work</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills">
        <h3>Skills you'll gain</h3>
        <ul class="skills-list">
          <li>Angular Fundamentals</li>
          <li>Pipes</li>
          <li>Testing & Debugging</li>
          <li>Deployment</li>
          <li>API Integration</li>
        </ul>
      </div>
    </header>

    <div class="course-content-instructor-bg">
      <div class="course-content-instructor-wrapper">
        <div class="course-content-instructor">
          <div class="course-content-wrapper">
            <h2>Course Outline</h2>
            <ul class="course-content">
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Introduction to Angular 18</h3>
                </div>
                <ul class="course-content-details">
                  <li>What is Angular?</li>
                  <li>Key Features of Angular 18</li>
                  <li>Why Choose Angular for Web Development?</li>
                  <li>Overview of Web Application Development with Angular</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Setting Up Your Development Environment</h3>
                </div>
                <ul class="course-content-details">
                  <li>Installing Node.js and npm</li>
                  <li>Installing Angular CLI</li>
                  <li>Creating Your First Angular Project</li>
                  <li>Project Structure Overview</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Understanding Angular Fundamentals</h3>
                </div>
                <ul class="course-content-details">
                  <li>Components and Modules</li>
                  <li>Templates, Views, and Directives</li>
                  <li>
                    Data Binding (Interpolation, Property Binding, Event
                    Binding, and Two-way Binding)
                  </li>
                  <li>Angular Lifecycle Hooks</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Working with Components</h3>
                </div>
                <ul class="course-content-details">
                  <li>Creating and Structuring Components</li>
                  <li>Passing Data Between Components (Input and Output)</li>
                  <li>Component Interaction and Reusability</li>
                  <li>Using View Encapsulation in Angular</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Directives in Angular</h3>
                </div>
                <ul class="course-content-details">
                  <li>Structural Directives (*ngIf, *ngFor, *ngSwitch)</li>
                  <li>
                    Attribute Directives (ngClass, ngStyle, Custom Directives)
                  </li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Angular Services and Dependency Injection</h3>
                </div>
                <ul class="course-content-details">
                  <li>Creating and Using Services</li>
                  <li>Understanding Dependency Injection in Angular</li>
                  <li>Communicating Between Components Using Services</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Routing and Navigation</h3>
                </div>
                <ul class="course-content-details">
                  <li>Setting Up Routing in Angular</li>
                  <li>Defining Routes and Navigating Between Views</li>
                  <li>Route Guards and Protecting Routes</li>
                  <li>Lazy Loading in Angular</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Forms in Angular</h3>
                </div>
                <ul class="course-content-details">
                  <li>Template-Driven Forms</li>
                  <li>Reactive Forms</li>
                  <li>Form Validation and Error Handling</li>
                  <li>Handling Form Submissions</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Working with HTTP and APIs</h3>
                </div>
                <ul class="course-content-details">
                  <li>Using Http Client to Make API Requests</li>
                  <li>Handling Asynchronous Data with Observables</li>
                  <li>Error Handling in HTTP Requests</li>
                  <li>Managing API Interactions with Services</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Building and Using Angular Pipes</h3>
                </div>
                <ul class="course-content-details">
                  <li>Built-in Angular Pipes</li>
                  <li>Custom Pipes in Angular</li>
                  <li>Chaining and Combining Pipes</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>State Management with Angular</h3>
                </div>
                <ul class="course-content-details">
                  <li>Introduction to State Management</li>
                  <li>Using Services for Basic State Management</li>
                  <li>Introduction to NgRx (Redux Pattern in Angular)</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Optimizing Angular Applications</h3>
                </div>
                <ul class="course-content-details">
                  <li>Change Detection Strategy</li>
                  <li>OnPush Strategy and Performance Benefits</li>
                  <li>Lazy Loading and Code Splitting</li>
                  <li>Best Practices for Performance Optimization</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Building a Responsive UI with Angular</h3>
                </div>
                <ul class="course-content-details">
                  <li>Introduction to Angular Material and Bootstrap</li>
                  <li>Adding and Using Angular Material Components</li>
                  <li>Creating Responsive Layouts with Flex Layout</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Testing and Debugging Angular Applications</h3>
                </div>
                <ul class="course-content-details">
                  <li>Unit Testing Components and Services</li>
                  <li>End-to-End Testing with Protractor</li>
                  <li>Debugging Angular Applications with Chrome DevTools</li>
                  <li>Using Angular CLI for Testing and Debugging</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Deploying Your Angular Application</h3>
                </div>
                <ul class="course-content-details">
                  <li>Building and Optimizing for Production</li>
                  <li>
                    Deploying Angular Apps to Web Servers (Firebase, AWS,
                    Netlify, etc.)
                  </li>
                  <li>
                    Continuous Integration and Deployment (CI/CD) Best Practices
                  </li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Advanced Topics in Angular</h3>
                </div>
                <ul class="course-content-details">
                  <li>Understanding Angular Ivy</li>
                  <li>Dynamic Component Loading</li>
                  <li>Using Web Workers in Angular</li>
                  <li>Internationalization (i18n) in Angular</li>
                </ul>
              </li>
              <li class="course-content-item">
                <div class="course-content-intro">
                  <h3>Conclusion</h3>
                </div>
                <ul class="course-content-details">
                  <li>Recap of Key Concepts</li>
                  <li>Next Steps for Advanced Angular Development</li>
                  <li>Additional Resources for Learning</li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="course-instructor">
            <h2>Multi instructor Course</h2>

            <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
            <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>

            <ul id="instructors">
              <li class="instructor-slide">
                <img
                  src="./images/instructors/benjamin-schoreder.jpg"
                  alt="Benjamin Schroeder - US"
                />
                <p class="instructor-slide-name">Benjamin Schroeder - US</p>
                <p class="instructor-slide-about">
                  Experienced in the IT industry for more than 20 years, worked
                  with top-rated multinational corporations, navigated
                  cross-cultural environments, contributed to cutting-edge
                  projects, and passionately mentored countless students and
                  engineers using an innovative teaching approach.
                </p>
                <ul class="instructor-slide-links">
                  <li>
                    <a
                      href="https://www.linkedin.com/in/benjamin-schroeder-8bb5b6227/"
                      ><img src="./images/LinkedIn Circled.svg" alt="LinkedIn"
                    /></a>
                  </li>
                  <!-- <li>
                    <a href="#"
                      ><img src="./images/Facebook.svg" alt="Facebook"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="./images/Twitter Circled.svg" alt="Twitter"
                    /></a>
                  </li> -->
                </ul>
              </li>
              <li class="instructor-slide">
                <img
                  src="./images/instructors/praveen-kumar.jpeg"
                  alt="Praveen Kumar - India"
                />
                <p class="instructor-slide-name">Praveen Kumar - India</p>
                <p class="instructor-slide-about">
                  Experienced in the IT industry for more than 20 years, worked
                  with top-rated multinational corporations, navigated
                  cross-cultural environments, contributed to cutting-edge
                  projects, and passionately mentored countless students and
                  engineers using an innovative teaching approach.
                </p>
                <ul class="instructor-slide-links">
                  <li>
                    <a href="https://www.linkedin.com/in/praveen-sprhava/"
                      ><img src="./images/LinkedIn Circled.svg" alt="LinkedIn"
                    /></a>
                  </li>
                  <!-- <li>
                    <a href="#"
                      ><img src="./images/Facebook.svg" alt="Facebook"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="./images/Twitter Circled.svg" alt="Twitter"
                    /></a>
                  </li> -->
                </ul>
              </li>
              <li class="instructor-slide">
                <img
                  src="./images/instructors/manoj-joshi.jpeg"
                  alt="Manoj Joshi - US"
                />
                <p class="instructor-slide-name">Manoj Joshi - US</p>
                <p class="instructor-slide-about">
                  Experienced in the IT industry for more than 20 years, worked
                  with top-rated multinational corporations, navigated
                  cross-cultural environments, contributed to cutting-edge
                  projects, and passionately mentored countless students and
                  engineers using an innovative teaching approach.
                </p>
                <ul class="instructor-slide-links">
                  <li>
                    <a href="https://www.linkedin.com/in/manojjoshisj/"
                      ><img src="./images/LinkedIn Circled.svg" alt="LinkedIn"
                    /></a>
                  </li>
                  <!-- <li>
                    <a href="#"
                      ><img src="./images/Facebook.svg" alt="Facebook"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="./images/Twitter Circled.svg" alt="Twitter"
                    /></a>
                  </li> -->
                </ul>
              </li>
              <li class="instructor-slide">
                <img
                  src="./images/instructors/santosh-pericharan.jpeg"
                  alt="Santosh Pericharan - US"
                />
                <p class="instructor-slide-name">Santosh Pericharan - US</p>
                <p class="instructor-slide-about">
                  Experienced in the IT industry for more than 20 years, worked
                  with top-rated multinational corporations, navigated
                  cross-cultural environments, contributed to cutting-edge
                  projects, and passionately mentored countless students and
                  engineers using an innovative teaching approach.
                </p>
                <ul class="instructor-slide-links">
                  <li>
                    <a
                      href="https://www.linkedin.com/in/santosh-pericharan-9b79948/"
                      ><img src="./images/LinkedIn Circled.svg" alt="LinkedIn"
                    /></a>
                  </li>
                  <!-- <li>
                    <a href="#"
                      ><img src="./images/Facebook.svg" alt="Facebook"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="./images/Twitter Circled.svg" alt="Twitter"
                    /></a>
                  </li> -->
                </ul>
              </li>
              <li class="instructor-slide">
                <img
                  src="./images/instructors/jonathan-enudeme.jpeg"
                  alt="Jonathan Enudeme - Nigeria"
                />
                <p class="instructor-slide-name">Jonathan Enudeme - Nigeria</p>
                <p class="instructor-slide-about">
                  Experienced in the IT industry for more than 20 years, worked
                  with top-rated multinational corporations, navigated
                  cross-cultural environments, contributed to cutting-edge
                  projects, and passionately mentored countless students and
                  engineers using an innovative teaching approach.
                </p>
                <ul class="instructor-slide-links">
                  <li>
                    <a href="https://www.linkedin.com/in/jonathan-enudeme/"
                      ><img src="./images/LinkedIn Circled.svg" alt="LinkedIn"
                    /></a>
                  </li>
                  <!-- <li>
                    <a href="#"
                      ><img src="./images/Facebook.svg" alt="Facebook"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="./images/Twitter Circled.svg" alt="Twitter"
                    /></a>
                  </li> -->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="body-2">
      <div class="left">
        <h2 class="heading">Course Description</h2>
        This course provides a comprehensive introduction to Angular 18,
        covering everything from environment setup to advanced development
        techniques. You’ll learn core Angular fundamentals, component-based
        architecture, and how to utilize directives, pipes, and services. The
        course also covers responsive UI development, form handling and
        validation, API integration, testing, debugging, and deployment. Whether
        you're optimizing performance or managing state, this course equips you
        with the skills needed to build scalable, high-performance web
        applications.
      </div>
      <div class="vertical-line"></div>
      <div class="right">
        <div class="heading-container">
          <h2 class="heading">What you'll learn</h2>
        </div>
        <div>
          1. Master Angular Fundamentals: You will gain a deep understanding of
          Angular's core concepts, components, and architecture to build robust
          web applications.
        </div>
        <div>
          2. Build Dynamic, Responsive UIs: You will learn to create and
          optimize responsive user interfaces using Angular Material and
          Bootstrap, ensuring a seamless user experience across devices.
        </div>
        <div>
          3. Handle APIs and Data Effectively: You will develop skills in
          integrating and managing API interactions, handling asynchronous data,
          and ensuring secure and efficient data flow within your applications.
        </div>
        <div>
          4. Deploy and Maintain Applications: You will acquire the expertise to
          test, debug, and deploy Angular applications, ensuring they are
          optimized and ready for production.
        </div>
      </div>
    </div>

    <!-- Testimonial carousel Start  -->
    <section>
      <div class="bodyTestimonial">
        <div class="carousel-image-container">
          <h1 class="testimonial-heading">
            What our students say about the course
          </h1>
        </div>
        <div class="sadrzi-oba-kontejnera">
          <div class="testimonial-carousel" id="testimonialCarousel">
            <div class="testimonial-container" id="testimonialContainer"></div>
            <button class="carousel-controlT left" id="prevButton">
              &#8592;
            </button>
            <button class="carousel-controlT right" id="nextButton">
              &#8594;
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- end of Testimonial carousel -->

    <footer class="footer">
      <div class="footer__top wrapper">
        <div class="footer__container">
          <h3 class="footer__title-main">DigitalNexusAI</h3>
          <p class="footer__text">
            Remember, at Digital Nexus AI, we don’t just create; we innovate.
          </p>
          <ul class="footer__list footer__list-reversed">
            <li class="footer__item">
              <a
                class="footer__link"
                href="https://www.facebook.com/people/Digitalnexusaidotcom/61562625252000/"
                target="_blank"
                ><img
                  class="footer__social-network-image"
                  src="./images/social-network-facebook.svg"
                  alt="Facebook"
              /></a>
            </li>
            <!-- <li class="footer__item"><a class="footer__link" href="#"><img class="footer__social-network-image" src="./images/social-network-x.svg" alt="X"></a></li> -->
            <li class="footer__item">
              <a
                class="footer__link"
                href="https://www.instagram.com/digitalnexusaidotcom/"
                target="_blank"
                ><img
                  class="footer__social-network-image"
                  src="./images/social-network-instagram.svg"
                  alt="Instagram"
              /></a>
            </li>
            <li class="footer__item">
              <a
                class="footer__link"
                href="https://www.linkedin.com/company/digital-nexus-ai-com/"
                target="_blank"
                ><img
                  class="footer__social-network-image"
                  src="./images/social-network-linkedin.svg"
                  alt="Linkedin"
              /></a>
            </li>
            <li class="footer__item">
              <a
                class="footer__link"
                href="https://www.youtube.com/@digitalnexusai/"
                target="_blank"
                ><img
                  class="footer__social-network-image-youtube"
                  src="./images/social-network-youtube.svg"
                  alt="Youtube"
              /></a>
            </li>
          </ul>
          <div class="footer__container-contact">
            <h4 class="footer__container-title">Contact</h4>
            <p class="footer__container-text">
              Email:
              <span class="footer__container-text-span"
                >contact@digitalnexusai.com</span
              >
            </p>
            <p class="footer__container-text">
              Phone:
              <span class="footer__container-text-span">+1 (408) 661-0258</span>
            </p>
            <p class="footer__container-text">
              Address:
              <span class="footer__container-text-span"
                >No. 25, 1st Main, NR Colony, Bangalore
              </span>
            </p>
          </div>
        </div>
        <div class="footer__container">
          <h4 class="footer__title footer__title-center">The Company</h4>
          <ul class="footer__list">
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./index.html#product-showcase"
                >Products</a
              >
            </li>
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./index.html#header-training"
                >Services</a
              >
            </li>
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./coursepage.html">Courses</a>
            </li>
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./index.html#meet-dna">About Us</a>
            </li>
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer__container">
          <h4 class="footer__title footer__title-center">Legal Information</h4>
          <ul class="footer__list">
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./terms.html">Terms of Service</a>
            </li>
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./privacy.html">Privacy Policy</a>
            </li>
            <!-- <li class="footer__item footer__item-list"><a class="footer__link" href="#">Cookie Policy</a></li> -->
            <li class="footer__item footer__item-list">
              <a class="footer__link" href="./refund.html">Refund Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer__container">
          <h3 class="footer__title-main footer__title-main-newslatter">
            Newsletter
          </h3>
          <p class="footer__text footer__text-newslatter">
            Stay up-to-date with DNAs latest news and service offerings.
          </p>
          <div class="footer__form-group">
            <form action="subscribe.php" method="post">
              <input type="text" id="email" name="email" class="footer__input" placeholder="Enter your Email...">
              <button class="footer__button">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-text">
          © Copyright 2024 DigitalNexusAI. All rights reserved.
        </p>
      </div>
    </footer>

    <script src="./tetimonial.js"></script>
    <script src="./modal.js"></script>
  </body>
</html>
