* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-weight: 400;
    font-size: 20px;
}

.thankyou {
    /* margin-top: 100px; */
    font-family: "Raleway", sans-serif;
}

.flex-item-left h1 {
    width: 662px;
    height: 81px;
    gap: 0px;
    opacity: 0px;
    font-size: 54px;
    font-weight: 800;
    line-height: 81px;
    text-align: left;
}

.flex-item-left p {
    height: 33px;
    gap: 0px;
    opacity: 0px;
    font-size: 22px;
    font-weight: 275;
    line-height: 33px;
    text-align: left;
}

.buttons {
    top: 406px;
    margin-top: 20px;
    left: 85px;
    gap: 24px;
    opacity: 0px;
    color: white;
}

.Explore_courses {
    border: 1px;
    font-weight: 400;
    font-size: 20px;
    width: 194px;
    height: 56px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border-style: solid;
    padding: 14px 20px 14px 20px;
    gap: 10px;
    opacity: 0px;
    
}

.Explore_courses {
    /* border: 1.5px solid #ffffff;
    border-radius: 20px;
    padding: 14px 32px; */
}

.flex-container {
    display: flex;
    justify-content: end;
    background-image: url(./images//checkboxes.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.flex-item-left {
    flex: 50%;
    padding-top: 30px;
    margin-top: 120px;
    margin-left: 70px;
}

.flex-item-right {
    flex: 50%;
    margin-left: 100px;
}

@media (max-width: 1440px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}

.home {
    font-weight: 400;
    font-size: 20px;
    background-color: #F0680FCC;
    width: 180px;
    height: 56px;
    padding: 20px 50px 20px 50px;
    gap: 10px;
    border-radius: 20px 20px;
    opacity: 0px;
    border: none;
    color: white;
    margin-right: 24px;
    font-family: Raleway;
    line-height: 23.48px;
}